/**********************************************************
Windows 10 ダークスタイル
推奨環境: Windows 10
**********************************************************/

div#breadcrumbbuttons span[id^="address"]:not([id*="_"] ){
padding: 0px 10px ;
border: 1px solid transparent;
}
div#breadcrumbbuttons span[id^="address"]:not([id*="_"] ):hover{
border: 1px solid #a0a0a0;
}

/*アドレスバーのパンくずリストで '>' をクリックしやすくする*/

div#breadcrumbbuttons span[id^="address"]:not([id*="_"] ):hover{
padding: 0px 10px ;
border: 1px solid #a0a0a0;
}

/*私はもともとボタン上をホバーしたら赤くするようにしているので
上記のborderの行は削っています。

.hoverbutton, .activebutton {
background-color: red ;
}

tabgroups


マウスがホバー状態の時だけスクロールバーを表示する
-ms-overflow-styie: -ms-autohiding-scrollbar;

スクロールバーを非表示
-ms-overflow-styie: none;

要素の背景に画像を表示
background: url("file:///c:/user/..画像のフルパス スラッシュの向きに注意");

長すぎる文字列(1行表示のみ、改行してると無理)の末尾に･･･を表示
text-overflow: ellipsis;

↑をマウスオーバーの時だけ全ての文字列を表示させる
要素に:hoverつけてwidth:fit-contents;

縦並びの要素(中身がdivだらけ)をinline要素っぽく横並びに
親要素にdisplay:flex;
justify-contentで左寄せ右寄せセンタリング
縦方向の調整はalign-items

inputタグの末尾の×印を非表示
input::-ms-clear を　visibility:hidden
*/

[id^="Panel_"].activecaption tbody tr td div ul li.activetabgroups {
color: white;
background-color: #4C566A;
}

[id^="Panel_"].activecaption tbody tr td div ul li.activetab {
color: white;
background-color: #4C566A;
}
#client {
background-color: #272c37;
}
[id^="breadcrumbbuttons"] {
background-color: rgb(39, 44, 55);
}
[id^="breadcrumbsbuttons_"] {
background-color: #4C566A;
}
.tabplus_# {
background-color: yellow;
}
[id^="layout_"] tbody tr td div ul li.Search_ {
background-color: blue;
}
#Search {
background-color: blue;
}
#Background {
  background-color: #2E3440;
}
#toolbar {
  background-color: #2E3440;
}
.tab# {
  background-color: #2E3440;
}
.activetab#	{
  background-color: #4C566A;

}

/* 下部コントロール・各位置 */

[id^="BottomBar"] {
  background-color: #434C5E;
}

/**********************************************************
Inner レイアウト (addons\innerback, addons\innerforward)
**********************************************************/
/* 上部コントロール・全体 */
[id^="InnerTop2_"] {
  background-color: #2E3440;
}



/**********************************************************
ダイアログ (script\options.html, script\options.html)
**********************************************************/

/* アドオンを入手画面のストライプ偶数行 */
.oddline {
  color: window;
  background-color: #3B4252;
}

/**********************************************************
フォーム (script\options.html, addons\addressbar)
**********************************************************/
/* ダイアログのボタン (タブは除く) */
button:not([id^="tab"]) {
  color: Wind